-# encoding: utf-8
%h3 キーワード一覧

%table.table
  %tr
    %th キーワード
    %th

  - @keywords.each do |keyword|
    %tr
      %td= keyword.keyword
      %td{style: 'text-align: right'}= ilink_to 'trash',' 削除', keyword, method: :delete, class: 'btn btn-danger', data: { confirm: '本当によろしいですか？' }

= render 'form'

