%h3 Listing keywords

%table.table
  %tr
    %th Keyword
    %th

  - @keywords.each do |keyword|
    %tr
      %td= keyword.keyword
      %td{style: 'text-align: right'}= link_to 'Destroy', keyword, method: :delete, class: 'btn btn-danger', :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Keyword', new_keyword_path, class: 'btn'
