html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fluid-container {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}
#slides {
  display:none;
  bottom: 0;
  height: 100%;
  left: 0;
  margin-bottom: 0!important;
  position: fixed;
  right: 0;
  top: 0;
}
